<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

  <mat-form-field appearance="outline">
    <mat-label i18n="@@contactForm.nameLabel">Name</mat-label>
    <input matInput
           name="name"
           [(ngModel)]="model.name"
           required
           #nameField="ngModel">
    @if (nameField.invalid && nameField.touched) {
      <mat-error i18n="@@contactForm.nameReqError">Name is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label i18n="@@contactForm.messageLabel">Message</mat-label>
    <textarea matInput
              name="message"
              [(ngModel)]="model.message"
              required
              minlength="20">
    </textarea>
  </mat-form-field>

  <button mat-flat-button color="primary"
          type="submit"
          [disabled]="contactForm.invalid"
          i18n="@@contactForm.submitBtn">
    Send Message
  </button>

</form>
